.table th {
	line-height: 0;
}

@media (width <= 768px) {
	.table th {
		padding: 10px;
		text-align: center;
	}

	.table td {
		padding: 10px;
	}
}

@media (width <= 400px) {
	.table th {
		padding: 5px;
		text-align: center;
	}

	.table td {
		padding: 5px;
	}

	.table p {
		margin-bottom: 10px;
	}
}

