:root {
	--background-color: #f5f5f5; /* Фоновый цвет */
	--text-color: black; /* Цвет текста */
	--bg-color: #e0e0e0;
	--bg: white;
	--aside-bg-color: #f0f0f0;
	--gray: #b9b9b9;
	--accent-color: #0078ff;
	--aside-width: 250px;
	--header-height: 48px;
	--footer-height: 48px;
}

html.dark {
	--background-color: #121212;
	--text-color: #f5f5f5;
	--bg-color: #1e1e1e;
	--bg: #1a1a1a;
	--aside-bg-color: #181818;
	--gray: #222;
}

@font-face {
	font-family: "Blogger sans";
	src: url("./fonts/Blogger_Sans-Medium.otf") format("otf");
}

* {
	font-family: "Blogger sans", sans-serif;
}

html,
body {
	display: grid;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	margin: 0;
	scroll-behavior: smooth;
	grid-template: "aside header header" auto "aside main main" 1fr "aside footer footer" auto / 250px 1fr 1fr;
}

ul {
	padding: 0;
}

button {
	display: flex;
	background: none;
	border: none;
	cursor: pointer;
	color: var(--text-color);
	font-size: 16px;
}

.aside {
	padding: 10px 0;
	background-color: var(--aside-bg-color);
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: var(--aside-width);
	overflow: auto;
}

.header {
	padding: 10px 0;
	background-color: var(--bg-color);
	position: fixed;
	left: var(--aside-width);
	right: 0;
	top: 0;
	z-index: 10;
}

.main {
	position: fixed;
	inset: var(--header-height) 0 var(--footer-height) var(--aside-width);
	overflow: auto;
	margin-top: 20px;
}

.footer {
	background-color: var(--bg-color);
	position: fixed;
	left: var(--aside-width);
	right: 0;
	bottom: 0;
	z-index: 10;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.mb {
	margin-bottom: 25px;
}

.lock-scroll,
.lock-scroll body {
	overflow: hidden !important;
	height: 100% !important;
}

@media (width <= 768px) {
	html,
	body {
		display: block;
		overflow-x: hidden;
		width: 100%;
		height: auto;
		margin: 0;
		scroll-behavior: smooth;
	}

	.aside {
		display: none;
		position: static;
		width: auto;
	}

	.header,
	.footer,
	.main {
		position: static;
		inset: auto;
		height: auto;
	}

	.footer {
		display: none;
	}

	.main {
		overflow: visible;
		overflow-x: hidden;
	}
}
