.main {
	display: flex;
	align-items: start;
	flex-direction: column;
	justify-content: space-around;
	margin: 20px 20px 0;
}

.schedule {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.not_found {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 90px);
	text-align: center;
}

.paper {
	width: 100%;
	padding: 25px 0;
}

@media (width <= 768px) {
	.main {
		width: 90vw;
		margin-top: 0;
	}

	.not_found {
		height: calc(100vh - 80px);
	}
}

@media (width <= 400px) {
	.main {
		overflow-x: hidden;
	}
}
