.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 450px;
}

.hide {
	display: none;
}

@media (width <= 768px) {
	.top {
		align-items: flex-end;
		flex-direction: column;
	}

	.btns {
		align-items: flex-end;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.btns h3 {
		margin-bottom: 10px;
	}
}
