.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}

.btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 450px;
}

.hide {
	display: none;
}

@media (width <= 768px) {
	.top {
		align-items: flex-end;
		flex-direction: row-reverse;
	}

	.btns {
		align-items: flex-end;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.btns h3 {
		margin-bottom: 10px;
	}

	.home_button_box {
		padding: 6px 0 !important;
		min-width: 30px !important;
	}

	.home_button {
		min-width: 40px !important;
		min-height: 40px !important;
		display: flex;
		align-items: center;
		padding: 6px 0 !important;
	}

	.home_button span {
		margin: 0;
		padding: 0;
	}

	.home_button_text {
		display: none;
	}
}
